.impressaoContainer{
    background-color: rgb(255, 255, 255);
    z-index: 100;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
   
}

.etiquetas{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(8,1fr);
    position: relative;
    padding: 0 50px 0 50px;
}

.etiqueta{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 1px black;
    position: relative;
    padding: 20px !important;
    height: 150px;
    width: 325px;
    justify-content: center;
    gap: 5px;
    padding: 20px;

  
}

.etiqueta h4 {
    text-align: center;
    font-size: 1.3rem;
    border-bottom: solid 1px black;
  }

  .etiqueta img{
    width: 30px;
    align-self: center;
  }

.descricao{
    font-size: 1.2rem;
    text-align: center;
  }

  .preco {
    font-size: 2.1rem;
    font-weight: bold;
    align-self: center;
  }

  @media print {
    .impressaoContainer {
      page-break-inside: avoid;
      page-break-before: auto;
      page-break-after: auto;
    }
  
    .etiquetas {
      page-break-inside: avoid;
    }
  
    .etiqueta {
      break-inside: avoid;
      page-break-inside: avoid;
    }
  }
 