.tableProdutos{
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.header{
    width: 100%;
    display: grid;
    grid-template-columns:  100px 100px 1fr 100px 20px;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: gray !important;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 10px 10px 0px 0px;
    font-size: 1.2rem;
    padding: 10px 20px;
}

.produtos{
    border-radius: 0 0 10px 10px;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
}

.produtos li:nth-child(odd){
    background-color: rgb(247, 247, 247);
}